@media (max-width:1500px) {
  .orders-list-item{
    padding-left: 10px;
    padding-right: 10px;
  }
}
@media (max-width:1300px) {
  .bottom-bar .nav-item{
    margin-right: 20px;
  }
  .mid-bar .form{
        padding: 0px 50px;
  }

}
@media (max-width:1199px) {
  .bottom-footer>div div:nth-last-of-type(1){
    padding-top: 15px;
  }
  .bottom-footer div{
    text-align: center !important;
  }
  .bottom-footer .payments:nth-of-type(1) {
    margin-right: 0 !important;
}
  .bottom-footer .payments{
    width: 77px;
  }
  .cart-item{
    padding: 14px  30px;
  }
  .cart-item>.item{
    padding-right: 40px;
  }
  .g-btn,
  .o-btn{
    width: 110px;
  }
}
@media (max-width:991px) {
  .w-f{
    padding-left: 75px;
    padding-right: 75px;
  }
  /* .top-bar nav div:nth-of-type(1) li:nth-of-type(1){
    margin-right: 10px;
  } */
  .top-bar nav div:nth-of-type(2) li{
    /* margin-left: 10px; */
  }
  .top-bar nav div li{
    /* margin-right: 0px; */
  }
  .top-bar .nav-item .nav-link img{
    margin: 0 8px;
  }
  .bottom-bar .navbar-collapse .navbar-toggler{
    display: flex !important;
  }
.mid-bar .form{
  /* display: none !important; */
  /* position: absolute;
  left: 0;
  bottom: -1px;
  transform: translateY(100%);
  padding: 0; */
}
nav form button i{
  color: #22304161;
}
.mid-bar .nav-item .not-count svg{
  color: var(--quaternary-color);
}
nav .dropdown-menu{
  border-radius: 0;
}
.mid-bar{
  height: 100px;
}
.mid-bar .form{
  padding: 0;
}
  .navbar-nav-custom{
  flex-direction: row !important;
  }
  .navbar-nav-custom .nav-item{
    width: 40px;
  }
  .navbar-nav-custom .nav-item .nav-link{
    color: #FFF;
  }
  #navbarFormSearch {
    position: absolute;
      transform: translateY(113%);
      width: 100%;
      z-index: 1;
      /* background: var(--secondary-color); */
      height: 81px;

  }
  #navbarFormSearch>div{
    padding: 13px 0 10px 0;
    position: relative;
  }
#navbarFormSearch::after{
  width: 100vw;
  height: 100%;
  /* content: ""; */
  background: var(--secondary-color);
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
  transition: all 0.5s;
}
#navbarFormSearch form button{
  background: #F5F5F5 0% 0% no-repeat padding-box;
}
.mid-bar .user .d-flex.dropdown-toggle::after {
    display: block;
    border-top: .3em solid white;
}

.mid-bar .nav-item .not-count i{
  color: #FFFFFF;
}
#FormSearchToggleBtn::after{
  content: "";
  /* position: absolute; */
  width: 100%;
  height: 10px;
  background: red;
}
.bottom-bar{
  height: 0px !important;
}
.bottom-bar.fakeOpen{
  height: 81px !important;
  position: sticky;
    top: 100px;
    z-index: 10;
}








.bottom-bar{
  height: auto;
  transition: height 0.5s;
}
.top-footer div div:nth-of-type(1){
  padding-bottom: 0;
}
.mid-footer{
  padding-top: 25px;
}
.mid-footer hr{
  margin-top: 15px;
}
.bottom-bar nav >div{
  position: absolute;
      top: -175px;
      left: -75px;
      z-index: 2;
      padding: 50px 28px;
      width: 300px;
      background: var(--secondary-color);
      top: -100px;
    left: -75px;
    z-index: 20;
}

.bottom-bar .nav-item.show .nav-link,
.bottom-bar .nav-item .nav-link{
  padding: 15px 0;
  height: auto;
}
.bottom-bar .dropdown-toggle::after {
transform: rotate(0deg) translateY(5px);
    right: 0;
    position: absolute;
}
.bottom-bar .nav-item {
    margin: 0 !important;
}


.bottom-footer{
  padding-top: 15px;
  padding-bottom: 30px;
}
.banner-home .carousel-item{
  min-height: 248px;
  text-align: center !important;

}
.banner-home .carousel-item h1{
  font-size: 20px;
  line-height: 30px;
  margin-top: 25px;
  padding-left: 75px;
  padding-right: 75px;
  /* text-align: center; */
}
.banner-home .carousel-item p{
  padding-left: 40px;
  padding-right: 40px;
  /* text-align: center; */
}
.banner-home .carousel-item button{
  line-height: 38px;
  height: 45px;
  padding: 0 40px;
  /* margin-bottom: 50px; */
  margin: auto auto 50px auto !important;
}
.banner-home .carousel-indicators{
  bottom: 0;
}
.item-s {
    width: 218px;
    /* padding-right: 16px; */
}
/* .item-s:nth-last-of-type(1) {
    width: 218px;
} */
.item-s .img{
  height: 241px;
}
.item-s p{
  font-size: 16px;
}
.item-s h1{
  font-size: 16px;
  margin-bottom: 10px;
}
.item-s h2{
  font-size: 16px;
}
.item-s button:nth-of-type(1){
  width: 172px;
  height: 41px;
  line-height: 40px;
  margin-right: 5px;

}
.item-s button:nth-of-type(2){
  width: 41px;
  height: 41px;
}
.results-s .item-s{
  width: 295px;
  margin-left: 7px;
  margin-right: 7px;
  /* padding-left: 7px;
  padding-right: 7px; */
}
.results-s .content{
  margin-left: -7px;
  margin-right: -7px;
}
.results-s .item-s .img{
  height: 298px;
}
/* .results-s .item-s button{
  float: left;
} */
.results-s .item-s button:nth-of-type(1){
  width: 196px;
}
.results-s .item-s button:nth-last-of-type(1){
  margin-left: 4px;
}
.results-s header div select{
  height: 40px;
}
.pagination{
  text-align: center;
  margin-bottom: 32px;
}
.results-s{
  margin-bottom: 32px;
}
.single-product .imgg{
  height: 596px;
}
.single-product .imgs-list .img{
  width: 108px;
  height: 108px;
}
.items-s-list-btn button{
  display: none;
}
.cart-item .inputs{
  flex-direction: column;
  padding: 0 50px;
}
.cart-item .inputs .detail{
  width: 100%;
}

.cart-item .icons{
  flex-direction: row !important;

}
.cart-item .icons a{
  margin-left: 25px !important;
}
.cart-item .item>.row>div{
  margin-bottom: 30px;
}
.cart-item>.item{
  padding-right: 110px;
}
.cart-item .item-img{
  width: 92px;
  height: 92px;
}
.payment-tabs .nav-link > span{
  padding: 0;
  padding-right: 16px;
}
.banner img{
  transform-origin: right top;
  transform: scale(0.75);
}
.text-lg-right{
  text-align: right;
}
.banner-home{
  margin-top: 0;
}
}



@media (max-width:768px) {
  .w-f{
    padding-left: 15px;
    padding-right: 15px;
  }
  .top-bar nav div:nth-of-type(1){
    display: none !important;
  }

  .top-bar nav div:nth-of-type(2) ul{
    width: 100%;
    justify-content: space-between!important;
  }
  .top-bar nav div:nth-of-type(2) li{
    margin-left: 0 !important;
  }
  .bottom-bar nav >div{
    left: -15px;
  }
  nav .dropdown-menu.dropdown-menu-mid{
    transform: translateX(-80%);
  }

  .banner-home{
    padding-left: 0;
padding-right: 0;
  }
  .banner-home .carousel-control-next, .banner-home .carousel-control-prev{
    display: none;
  }
  .results-s .content{
    margin-left: -5px;
    margin-right: -5px;
  }
  .results-s .item-s{
    width: 158px;
    margin-left: 5px;
    margin-right: 5px;

  }

  .results-s .item-s .img{
    height: 240px;
  }
  .results-s .item-s button:nth-of-type(1){
    width: 111px;
  }
  .results-s .item-s button img{
    display: none;
  }
  .results-s .item-s button:nth-of-type(1){
    margin-right: 0;
  }
  .item-t .text{
    width: 286px;
  }
  .single-product .imgs-list-2 .img{
    height: 90px;
    width: 90px !important;
  }
  .imgs-list-2{
    height: 280px;
    width: 108px !important;
  }
  .single-product .imgg{
    height: 376px;
    margin-bottom: 50px;
  }

  .cart-item .inputs{
    padding: 0 0;
  }
  .cart-item .icons{
    flex-direction: column !important;

  }
  .cart-item .icons a{
    margin-left: 25px !important;
  }
  .cart-item>.item{
    padding-right: 40px;
  }
  .cart-item {
      padding: 12px 15px;
  }
  .payment-tabs .nav-item .nav-link{
    font-size: 14px;
  }
  .payment-cart-p {

padding-left: 12px;
padding-right: 12px;
}
.text-md-right{
  text-align: right !important;
}
.review .img{
  width: 174px;
height: 174px;

}
.map>div{
  padding: 0;
  box-shadow: none;
}
.locations{
  padding: 12px 12px 24px 12px;
  box-shadow: 0px 0px 16px #c8c8c829
}
#google-map{

  margin-bottom: 0 !important;
}
}
@media (max-width:567px) {
  nav .dropdown-menu.dropdown-menu-mid {
    width: 368px;
}
  nav .dropdown-menu.dropdown-menu-mid[aria-labelledby="cartDDown"]{
    transform: translateX(-80%);
  }
  nav .dropdown-menu.dropdown-menu-mid[aria-labelledby="favDDown"]{
    transform: translateX(-55%);
  }
  #userDDown::before,
  .mid-bar .dropdown-toggle::before{
    bottom: -3px;
  }
  .bottom-bar.fakeOpen{
    height: 130px !important;
  }
#navbarFormSearch>div{
  flex-direction: column;
}
.mid-bar .form{
  padding: 0;
}
.navbar-nav-custom li{
  margin: 10px 0;
}
.navbar-nav-custom{
  margin: auto;
  justify-content: space-between;
  width: 100%;
}
  .cart-btns{
    display: flex;
    justify-content: space-between!important;
    vertical-align: middle;
  }
  .cart-btns a{
    margin: 0;
    vertical-align: middle;
    align-self: center;
  }
  .receipt .submit-t-btns{
    flex-direction: column;
    height: 102px;
    justify-content: center;
  }
  .receipt .submit-t-btns button{
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .order-item p span{
    min-width: 42px;
  }
  .orders-list-item{
    padding-left: 0;
    padding-right: 0;
  }
}

@media (max-width:1198px) and (min-width:768px) {
  .cart-item .row>div{
    margin: 0;
  }
}
