html[dir="rtl"] .top-bar nav div li:nth-of-type(1) i {
  margin-right: 0;
}
html[dir="rtl"] .text-left {
  text-align: right !important;
}

html[dir="rtl"] .text-right {
  text-align: left !important;
}
/* html[dir="rtl"] .row.row-rtl{
  flex-flow: row-reverse;
} */
html[dir="rtl"] .pl-2{
    padding-right: .5rem!important;
    padding-left: 0 !important;
}
html[dir="rtl"] .pr-3 {
    padding-left: 1rem!important;
    padding-right: 0 !important;
}
html[dir="rtl"] .mr-2 {
    margin-left: .5rem!important;
    margin-right: 0 !important;
}
html[dir="rtl"] .ml-2 {
    margin-right: .5rem!important;
    margin-left: 0 !important;
}
html[dir="rtl"] .mr-1 {
    margin-left: .25rem!important;
    margin-right: 0 !important
}

html[dir="rtl"] nav form button {
  right: auto;
  left: 0;
  border-radius: 8px 0px 0px 8px !important;
}

html[dir="rtl"] .bottom-bar .nav-item {
  margin-right: 0;
  margin-left: 30px;
}
html[dir="rtl"] .top-bar nav div:nth-of-type(1) li:nth-of-type(1) img{
  margin-left: 10px;
  margin-right: 0;
}
html[dir="rtl"] .top-bar nav div li {
  margin-right: 0;
  margin-left: 20px;
}

html[dir="rtl"] .top-bar nav div:nth-of-type(2) ul {
  margin-right: auto;
  margin-left: 0;
}

html[dir="rtl"] .mid-bar .nav-item {
  margin-right: 20px;
  margin-left: 0;
}
html[dir="rtl"] nav .dropdown-menu.dropdown-menu-mid{
  transform: translate(10%);
}

html[dir="rtl"] .fa-chevron-right {
  transform: rotate(180deg);
}
html[dir="rtl"] .fa-chevron-right.pl-2{

  padding-left: 0.5rem !important;
  padding-right: 0 !important;
}

html[dir="rtl"] .mid-bar nav>button:nth-of-type(1) {
  right: auto;
  left: 0;
}

html[dir="rtl"] .mid-bar nav>button:nth-of-type(2) {
  left: auto;
  right: 0;
}

html[dir="rtl"] .top-footer h1,
html[dir="rtl"] .top-footer p {
  text-align: right;
}
html[dir="rtl"] .mid-footer .social {
    margin: 0px 8px;
}
html[dir="rtl"] .mid-footer .social:nth-of-type(1){
  margin-right: 0;
}
html[dir="rtl"] .mid-footer .social:nth-last-of-type(1){
  margin-left: 0;
}

html[dir="rtl"] .mid-footer .contact i {
  margin-right: 0;
  margin-left: 8px;
}

html[dir="rtl"] .mid-footer ul li::before {
  left: auto;
  right: 0;
  content: "\f053";
}

html[dir="rtl"] .mid-footer h1::after {
  left: auto;
  right: 0;
}

html[dir="rtl"] .mid-footer ul li {
  padding-left: 0;
  padding-right: 16px;
}

html[dir="rtl"] .bottom-bar .navbar-collapse .navbar-toggler {
  left: 10px;
  right: auto;
}

html[dir="rtl"] .line-links a::after{
  left: -25px;
  right: auto;
  transform: rotate(
180deg
);
}
html[dir="rtl"] .line-links a{
  margin-left: 46px;
  margin-right: auto;
}
html[dir="rtl"] .cart-item>.item {
    padding-left: 150px;
    padding-right: 0;
}

html[dir="rtl"] .cart-item .icons {
right: auto;
    left: 35px;
}
html[dir="rtl"] .cart-item a svg {
margin-right: auto;
    margin-left: 5px;
}
html[dir="rtl"] .cart-item .icons svg {
  margin: 0 !important;
}
html[dir="rtl"] .line-links{
  text-align: right;
}

html[dir="rtl"] .items-s-list-btn button i{
  transform: translate(-50%,-50%) rotateX(180deg);
}
html[dir="rtl"] .items-s-list-btn h1{
  float: right;
}
html[dir="rtl"] .items-s-list-btn button{
  margin-right: 16px;
  margin-left: auto;
  float: left;
}
html[dir="rtl"] .results-s header>div div:nth-of-type(2)>div::after {
right: auto;
    left: 15px;

}
html[dir="rtl"] .item-s button:nth-of-type(2){
  float: left;
}
html[dir="rtl"] .item-s button:nth-of-type(1){
  margin-right: 0;
  margin-left: 12px;
}
html[dir="rtl"] .item-t .text::before{
  left: auto;
    right: 0;
    transform: translate(-100%, -50%);
}

html[dir="rtl"] .item-t .text::after {

    left: 0;
    right: auto;
    transform: translate(100%, 50%) scale(-1) rotate(180deg);
}
html[dir="rtl"] .item-t .text>div{
  right: 0;
  left: auto;

    transform: translate(-45%, calc(100% - 1px));
}
html[dir="rtl"] .item-t .info h2{
  margin-right: -15px;
  margin-left: auto;
}
html[dir="rtl"] .item-t .info{
  padding-left: 13px;
  padding-right: auto;
}
html[dir="rtl"] .results-s .item-s button{
  float: right !important;
}

html[dir="rtl"] .location{
  padding-left: 0;
  padding-right: 33px;
}
html[dir="rtl"] .location .pin{
  left: auto;
  right: 10px;
}
html[dir="rtl"] .payment-cart-items .cart-item h3.price{
  text-align: right;
}
html[dir="rtl"] .payment-cart-items .cart-item .icons{
  right: auto;
  left: 0;
}
html[dir="rtl"] .form-group,
html[dir="rtl"] .form-check{
  text-align: right;
}
html[dir="rtl"] .form-group label{
  left: 0;
  right: auto;
}
html[dir="rtl"] .form-group input {

    padding: 8px 16px;

    padding-left: 45px;
  }

html[dir="rtl"] .form-check label.form-check-label{
  padding-left: 0;
  padding-right: 16px;
}
html[dir="rtl"] .payment-cart h1{
  text-align: right;
}
html[dir="rtl"] .p-policy p{
  text-align: right;
}
html[dir="rtl"] .single-product .imgg+div{
  flex-flow: row-reverse;
  flex-direction: row-reverse;
}
html[dir="rtl"] .single-product .scrolling-next-btn i{
  transform: rotate(0deg);
}
html[dir="rtl"] label[for="prof-pic"] .edit{
  left: 0;
  right: auto;
}

html[dir="rtl"] .receipt .corner {
  left: auto;
    right: -54px;
    transform: scaleX(-1);
}
html[dir="rtl"] .modal-footer>:not(:last-child) {
    margin-left: .25rem;
    margin-right: auto;
}
html[dir="rtl"] .modal-footer>:not(:first-child) {
    margin-right: .25rem;
    margin-left: auto;
}

html[dir="rtl"] .modal form button i {
right: auto;
    left: 37px;
    transform: translateY(-50%) rotate(180deg);

}
html[dir="rtl"] .modal .status span{
  margin-left: auto;
  margin-right: 0;
}
html[dir="rtl"] .dropdown-menu{
  text-align: right;
}


@media (max-width:1199px) {

  html[dir="rtl"] .bottom-footer div{
    text-align: center !important;
  }
}
@media (max-width: 991px) {
  html[dir="rtl"] .bottom-bar nav>div {
    right: -75px;
    left: auto;
    text-align: right;
  }

  html[dir="rtl"] .bottom-bar .dropdown-toggle::after {
    left: 0;
    right: auto;
  }

  html[dir="rtl"] .bottom-bar .navbar-nav .dropdown-menu {
    text-align: right;
  }
  html[dir="rtl"] .item-s button:nth-of-type(1){
    margin-left: 5px;
  }
  html[dir="rtl"] .text-lg-right{
    text-align: left !important;
  }
}

@media (max-width: 768px) {
  html[dir="rtl"] .bottom-bar nav>div {
    right: -15px;
  }
  html[dir="rtl"] .cart-item>.item {
    padding-left: 40px;
    padding-right: 0;
}
html[dir="rtl"] .results-s .item-s button:nth-of-type(1){
  margin-left: 0;
}
html[dir="rtl"] .text-md-right {
    text-align: left !important;
}
}
@media (max-width: 567px) {
  html[dir="rtl"] nav .dropdown-menu.dropdown-menu-mid[aria-labelledby="favDDown"] {
    transform: translateX(-20%);
}
html[dir="rtl"] nav .dropdown-menu.dropdown-menu-mid[aria-labelledby="cartDDown"] {
    transform: translate(8%);
}
html[dir="rtl"] .dropdown-menu{
  transform: translateX(-75%);
}
}
